@import "./variables.scss";
@import "./reset.scss";
html {
    // overflow: hidden;
}

::selection {
    color: white;
    background: $brand-color;
}

html,
body {
    font-size: $font-size;
    color: $text-color;
    font-family: $font-family-base;
    &::-webkit-scrollbar {
        width: 8px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        &:hover {
            // background-color: $brand-color;
        }
    }
}

h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: 100;
    line-height: 1.6em;
    width: 100%;
    max-width: 720px;
}

h3 {
    text-transform: uppercase;
}

h4 {}

p {
    font-weight: 100;
    line-height: 1.6em;
}

a {
    color: $brand-color;
}

//container
.wrap-container {
    background-color: #ffffff;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    
}
